@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400);

/* @import 'custom-media.css'; */
:root {
  --color-white: white;
  --color-red: red;
  --color-header: gray;
  --color-aluminum: #999999;
  --color-raven: #696F7E;
  --color-oslo-gray: #8C8D90;
  --color-armadillo: #464949;
  --color-santas-gray: #979AA7;
  --color-lavender-gray: #C4C6CD;
  
}
:root {
  --color-lavendar: #6C4D96;
  --color-ship-cove: red;
  --gradient-header: linear-gradient(
    to bottom right,
    var(--color-ship-cove), 
    var(--color-lavendar)
  );
  --gradient-header-2: linear-gradient(
    to right,
    #EE5D5E,
    #FFC900,
    #24B9C4,
    #8BC66F
  );
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}
svg text {
    font-family: 'Source Sans Pro', sans-serif;
  }
.gm-axis .domain, .gm-axis line {
    stroke: #979AA7;
    stroke: var(--color-santas-gray);
  }
.gm-axis text {
    fill: #979AA7;
    fill: var(--color-santas-gray);
    font-size: 17px;
    font-weight: 400
  }
@media (max-width: 32em) {

.gm-axis text {
      font-size: 13px
  }
    }
.gm-data-point {
  stroke: #464949;
  stroke: var(--color-armadillo);
  stroke-opacity: 0.7;
}
.gm-year-text {
	fill: #C4C6CD;
	fill: var(--color-lavender-gray);
	font-size: 10em;
	font-weight: 400;
  letter-spacing: 0.5px;
  opacity: 0.55;
}
.gm-axis-label {
  fill: #696F7E;
  fill: var(--color-raven);
  font-size: 1.5em
}
@media (max-width: 32em) {

.gm-axis-label {
    font-size: 1.1em
}
  }
.gm-axis-units {
  fill: #979AA7;
  fill: var(--color-santas-gray);
  font-size: 0.9em;
}
.gm-grid path, .gm-grid line {
  opacity: 0.35;
  stroke: #979AA7;
  stroke: var(--color-santas-gray);
}
.gm-hover-group line {
  stroke: #696F7E;
  stroke: var(--color-raven);
}
.gm-hover-text text {
    fill: #979AA7;
    fill: var(--color-santas-gray);
    font-size: 19px
  }
@media (max-width: 32em) {

.gm-hover-text text {
      font-size: 14px
  }
    }
.gm-tooltip-rect {
  fill: white;
  stroke: #696F7E;
  stroke: var(--color-raven)
}
.gm-tooltip-rect + text {
    fill: #696F7E;
    fill: var(--color-raven);
  }
[type='range'], [type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
[type='range'] {

  background: transparent;
  margin: 0;
	padding: 0
}
[type='range']::-webkit-slider-runnable-track {
  -webkit-appearance: none;
          appearance: none;
  background: #C4C6CD;
  background: var(--color-lavender-gray);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-radius: 1.5em;
  height: 1.5em;
  margin: 0;
  outline: none;
  width: 100%;
  }
[type='range']::-moz-range-progress {
  -moz-appearance: none;
       appearance: none;
  background: #C4C6CD;
  background: var(--color-lavender-gray);
  box-sizing: border-box;
  border: none;
  border-radius: 1.5em;
  height: 1.5em;
  margin: 0;
  outline: none;
  width: 100%; }
[type='range']::-ms-fill-lower {
  appearance: none;
  background: #C4C6CD;
  background: var(--color-lavender-gray);
  box-sizing: border-box;
  border: none;
  border-radius: 1.5em;
  height: 1.5em;
  margin: 0;
  outline: none;
  width: 100%; }
[type='range']::-webkit-slider-thumb {
		margin-top: -0.55em;
	}
input::-webkit-slider-runnable-track {
  -webkit-appearance: none;
          appearance: none;
  background: #C4C6CD;
  background: var(--color-lavender-gray);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  border-radius: 1.5em;
  height: 1.5em;
  margin: 0;
  outline: none;
  width: 100%;
}
input::-moz-range-track {
  -moz-appearance: none;
       appearance: none;
  background: #C4C6CD;
  background: var(--color-lavender-gray);
  box-sizing: border-box;
  border: none;
  border-radius: 1.5em;
  height: 1.5em;
  margin: 0;
  outline: none;
  width: 100%;
}
input::-ms-track {
  appearance: none;
  background: #C4C6CD;
  background: var(--color-lavender-gray);
  box-sizing: border-box;
  border: none;
  border-radius: 1.5em;
  height: 1.5em;
  margin: 0;
  outline: none;
  width: 100%;
}
input::-webkit-slider-thumb {
  background: #696F7E;
  background: var(--color-raven);
  border: 3px solid white;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 2.8em;
  width: 2.8em;
}
.gm-legend-row {
  cursor: pointer
}
.gm-legend-row text {
    fill: #696F7E;
    fill: var(--color-raven);
    text-transform: capitalize;
  }
.gm-legend-row rect {
    stroke: #696F7E;
    stroke: var(--color-raven);
  }


/*# sourceMappingURL=main.css.map*/