/* @import 'custom-media.css'; */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400');
@import 'colors.css';
@import 'gradients.css';

@custom-media --sm-max (max-width: 32em);

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

svg {
  & text {
    font-family: 'Source Sans Pro', sans-serif;
  }
}

.gm-axis {
  & .domain, & line {
    stroke: var(--color-santas-gray);
  }

  & text {
    fill: var(--color-santas-gray);
    font-size: 17px;
    font-weight: 400;
    @media (--sm-max) {
      font-size: 13px;
    }
  }
}

.gm-data-point {
  stroke: var(--color-armadillo);
  stroke-opacity: 0.7;
}

.gm-year-text {
	fill: var(--color-lavender-gray);
	font-size: 10em;
	font-weight: 400;
  letter-spacing: 0.5px;
  opacity: 0.55;
}

.gm-axis-label {
  fill: var(--color-raven);
  font-size: 1.5em;
  @media (--sm-max) {
    font-size: 1.1em;
  }
}

.gm-axis-units {
  fill: var(--color-santas-gray);
  font-size: 0.9em;
}

.gm-grid path, .gm-grid line {
  opacity: 0.35;
  stroke: var(--color-santas-gray);
}

.gm-hover-group line {
  stroke: var(--color-raven);
}

.gm-hover-text {
  & text {
    fill: var(--color-santas-gray);
    font-size: 19px;

    @media (--sm-max) {
      font-size: 14px;
    }
  }
}

.gm-tooltip-rect {
  fill: white;
  stroke: var(--color-raven);

  & + text {
    fill: var(--color-raven);
  }
}

:root {
  --range {
    appearance: none;
    background: var(--color-lavender-gray);
    box-sizing: border-box;
    border: none;
    border-radius: 1.5em;
    height: 1.5em;
    margin: 0;
    outline: none;
    width: 100%;
  }

  --range-fill {
    background: blue;
    height: 1.5em;
  }

  --range-thumb {
    background: var(--color-raven);
    border: 3px solid white;
    border-radius: 50%;
    box-sizing: border-box;
    height: 2.8em;
    width: 2.8em;
  }
}

[type='range'] {
  &, &::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  background: transparent;
  margin: 0;
	padding: 0;

  &::-webkit-slider-runnable-track {
    @apply --range;
  }
  &::-moz-range-progress { @apply --range; }
	&::-ms-fill-lower { @apply --range; }

  &::-webkit-slider-thumb {
		margin-top: -0.55em;
	}
}

input::-webkit-slider-runnable-track {
  @apply --range;
}
input::-moz-range-track {
  @apply --range;
}
input::-ms-track {
  @apply --range;
}

input::-webkit-slider-thumb {
  @apply --range-thumb;
}

.gm-legend-row {
  cursor: pointer;

  & text {
    fill: var(--color-raven);
    text-transform: capitalize;
  }

  & rect {
    stroke: var(--color-raven);
  }
}
