:root {
  --color-white: white;
  --color-red: red;
  --color-header: gray;
  --color-aluminum: #999999;
  --color-raven: #696F7E;
  --color-oslo-gray: #8C8D90;
  --color-armadillo: #464949;
  --color-santas-gray: #979AA7;
  --color-lavender-gray: #C4C6CD;
  
}